:root {
  --primary-color: #252224;
  --secondary-color: #f3efe2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
}

h1,
.hello,
h2 {
  color: var(--primary-color);
  display: block;
}

h1,
.hello {
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: 100;
}
h2 {
  font-size: 28px;
  opacity: 0.7;
  margin-top: 20px;
}

#projects-headline {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.project-image {
  width: 90%;
  display: flex;
  border: solid 3px var(--secondary-color);
  box-shadow: var(--box-shadow);
}
.project-thumbnail {
  max-width: 200px;
  display: flex;
  margin: 0 auto;
}
#thumbnails {
  display: flex;
  justify-content: space-around;
}
div.col-md-3 {
  padding: 5px;
  margin: 2px auto;
  text-align: center;
}
.col-6 {
  background-color: rgba(255, 255, 255, 0.721);
  padding: 15px;
}

@media (max-width: 767px) {
  .project-thumbnail {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .project-image {
    margin: 0 auto;
  }
}

.about-paragraph {
  display: flex;
  margin: 30px 0;
}

.about-paragraph p,
#contact {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.721);
  padding: 15px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 25px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
